<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
    <title>casaMusica</title>
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/bootstrap/css/jumbotron.css}" rel="stylesheet">
    <link th:href="@{/bootstrap/css/sticky-footer-navbar.css}" rel="stylesheet">
</head>

<body>
<header th:insert="fragments/menu :: menu-principal"></header>
<main role="main">
    <div class="container">
        <br>
        <div>
            <div style="padding-left: 200px;padding-right: 200px;">
                <form class="form" th:action="@{login}" method="POST">
                    <h3 class="text-center">Casa de Musica</h3>

                    <div th:if="${param.error}">
                        <span class="text-danger">Usuario / Password incorrectos!</span>
                    </div>

                    <div th:if="${msg != null}" class='alert alert-success' th:text="${msg}" role='alert'></div>


                    <div class="form-group">
                        <label for="username" class="" style="color: black">Usuario:</label><br>
                        <input type="text" name="username" id="username" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="password" class="" style="color: black">Clave:</label><br>
                        <input type="password" name="password" id="password" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="submit" name="submit" class="btn btn-info btn-md" value="Ingresar" style="width: 100%;padding-top: 5px;margin-top: 17px;border: none;background-color: aquamarine;">
                    </div>
                    <div id="register-link" class="text-right">
                        <p>No tiene un usuario? &nbsp; <a th:href="@{/signup}" class="">Cree uno.</a></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>